.c-Chart {
  position: relative;
}

.c-Chart--placeholder {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    content: 'We need some more tests results to draw a chart.'
  }
}

.c-Chart__footer {
  text-align: center;
  font-size: 13px;
  opacity: 0.5;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  a {
    text-decoration: underline;
  }
}