.c-TopBar {
  background-color: #EA8C55;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.45);
  color: white;
  margin-bottom: 40px;
  text-align: center;

  @include media('>=medium') {
    text-align: left;
  }
}

.c-TopBar__inner {
  @include dp-wrapper-gutter;

  padding: 6px;
}

.c-TopBar__select {
  -webkit-appearance: none;
  background-color: #EA8C55;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTUgNmgxMGwtNSA5LTUtOXoiPjwvcGF0aD48L3N2Zz4=);
  background-origin: border-box;
  background-position: right -5px center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0 6px;
  outline: 0;
  padding-right: 20px;

  &:focus {
    border-bottom-color: rgba(white, 0.5);
  }
}

.c-TopBar__nav {
  margin-top: 20px;

  @include media('>=medium') {
    float: right;
    margin-top: 8px;
  }
}
