.c-Info {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-top: 2px;
  color: dp-color('accent');

  svg {
    width: 100%;
    height: 100%;
  }
}