.c-Indicator {
  display: inline-block;
}

.c-Indicator__key {
  font-size: 0.9em;
  margin-bottom: -7px;
}

.c-Indicator__value {
  font-family: dp-font('secondary');
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;

  .c-Indicator--success & {
    color: #7CAE7A;
  }

  .c-Indicator--danger & {
    color: red;
  }
}
