.c-Footer {
  background-color: #E8E8E8;
  font-size: 0.7em;
  margin-top: 80px;
  overflow: hidden;
  padding: 20px;
  text-align: center;

  a {
    color: dp-color('accent');
    text-decoration: underline;
  }
}

.c-Footer__inner {
  @include dp-wrapper-gutter;
}

.c-Footer__logo {
  display: inline-block;
  color: dp-color('accent');
  margin-bottom: 20px;
}

.c-Footer__links {
  margin: 30px 0 0 0;
}

.c-Footer__link {
  display: inline-block;

  & + & {
    margin-left: 20px;
  }
}