.c-Loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #EA8C55;
  text-align: center;
}

.c-Loader__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}